body{
   background-image: url("bg-AboutUs.jpeg");
   background-size: 100% 250%;
}

h1 {
   text-align: center;
   border-bottom: double;
   border-color: black;
   border-width: 15px;

}

.info {
   width: 95%;
}

.info p {
   text-align: center;
   font-size: 24px;
}
