body{
   background-image: url("bg-feedback.jpeg");
   background-size: 100% 125%;
}

h1{
   text-align: center;
   color: #D62E99;
}

p {
   text-align: center;
   color: #D62E99;
   font-size: 30px;
   font-weight: bold;
}

label {
   font-size: 18px;
}

.who-am-I {
   border: 2px solid red;
}

.email input {
   width: 20%;
}

input {
   align-items: center;
   padding: 6px 8px;
   border: 2px solid red;
}

textarea {
   padding: 6px 8px;
   border: 2px solid red;
   resize: none;
}

.btn {
   padding: 5px 7px;
   font-size: 16px;
   text-align: center;
   cursor: pointer;
   outline: none;
   color: #fff;
   background-color: #04AA6D;
   border: none;
   border-radius: 10px;
   box-shadow: 0 5px #999;
}

input.btn:hover {
   cursor: pointer;
   background-color: #3e8e41
}

input.btn:active {
   background-color: #3e8e41;
   box-shadow: 0 1px #666;
   transform: translateY(4px);
}
